<section id="contacto">
    <h2>Contacto</h2>
    <p>Puedes contactarme de las siguientes maneras:</p>
    <ul>
        <li>Correo Electrónico: <a href="mailto:jg5985028@gmail.com">jg5985028@gmail.com</a></li>
        <li>Teléfono: <a href="tel:+123456789">8939-8793</a></li>
    </ul>
</section>