<section id="perfil">
        <div class="perfil-content">
            <img src="img/fotoperfil2.jpg" alt="Foto de perfil">
            <div class="info">
                <h1>Especializado en:</h1>
                <ul>
                    <li>HTML5 y CSS</li>
                    <li>JavaScript y jQuery</li>
                    <li>Frameworks de desarrollo web, como Bootstrap</li>
                    <li>Experiencia en diseño responsivo</li>
                    <li>Desarrollo de aplicaciones web</li>
                    <li>Optimización de sitios web para un rendimiento óptimo</li>
                </ul>
            </div>
        </div>
    </section>