<header>
      <h1>Mi Portafolio con VITE</h1>
      <nav>
        <a href="#sobre-mi">Sobre Mi</a>
        <a href="#biografia">Biografía</a>
        <a href="#contacto">Contacto</a>
      </nav>
</header>