<section id="sobre-mi">
    <h2>Sobre Mí</h2>
    <p>Soy un apasionado desarrollador web con una sólida experiencia en la creación de sitios web atractivos y
        funcionales. Mi objetivo es combinar diseño creativo con una programación sólida para ofrecer soluciones web
        de alta calidad a mis clientes. Aquí hay un resumen de mis habilidades:</p>
    <p>Me encanta aprender nuevas tecnologías y mantenerme al día con las tendencias de desarrollo web. Mi objetivo
        es seguir mejorando mis habilidades y entregar proyectos de alta calidad que cumplan con las expectativas de
        mis clientes. Si estás interesado en trabajar juntos o tienes alguna pregunta, ¡no dudes en contactarme!</p>
</section>